extends ../ui_layout

block content
  .twelve.wide.computer.tablet.sixteen.wide.mobile.column(style="margin-top: 2em; margin-bottom: 2em;")
    h2(style="text-align: center;") Forgot Your Password?
    p(style="font-size:large;") 
      b Send a message via the survey platform to the study coordinator OR send an email to 
      a(href="mailto:"+email target="_blank") !{email}
      |.
    p(style="font-size:large;") We will get back to you as soon as possible with a temporary password.