extends ../ui_layout

block styles 
    link(type='text/css', rel='stylesheet', href='/public/css/interest.css')

block content
    .twelve.wide.computer.tablet.sixteen.wide.mobile.column(style="margin-top: 2em; margin-bottom: 2em;")
        h2(style="text-align: center;") Choose your favorite cuisine
        .ui.warning.message.hidden
            i.close.icon 
            .header Choose an interest to proceed!
        h3 To help us better set up and tailor your feed, tell us what cuisine you are most interested in! 
        .ui.form
            .fields
                .images
                    each styleInfo, style in foodStyleData
                        .image(id=style)
                            img(src=styleInfo["Photo"])
                            h2 !{style}
                            p(style="margin:0px; font-style: italic") Examples:
                            p !{styleInfo["Description"]}
                            i.icon.green.check.hidden
        .ui.divider
        .ui.big.labeled.icon.button.feed
            i.rocket.icon
            |   Let's Go!

block scripts
    script(src='/public/js/interest.js')