extends ../ui_layout

block content
  h3.ui.header(style="margin-top: 2em;") Reset Password
  form.ui.form(action='/account/password', method='POST', id='password')
    input(type='hidden', name='_csrf', value=_csrf)
    .field
      label(for='password') New Password
      input.form-control(type='password', name='password', id='password', placeholder=' New Password', minlength="4", required)
    .field
      label(for='confirmPassword') Confirm Password 
      input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', minlength="4", required)
      span(style="color: green; visibility:hidden")#passwordsMatch  
          i.icon.check 
          | Passwords Match
    button.ui.large.button.disabled(type='submit') Change Password

  script.
    $('form[id="password"] input').on('input', function(){
      $('form[id="password"] button').removeClass('disabled');
      if($('input[type="password"][id="password"]').val() !== $('input[type="password"][id="confirmPassword"]').val() || 
        $('input[type="password"][id="password"]').val().length < 4 || 
        $('input[type="password"][id="confirmPassword"]').val().length < 4) {
        isFilled=false;
      } 
      
      if($('input[type="password"][id="password"]').val().length >= 1 && $('input[type="password"][id="confirmPassword"]').val().length >= 1) {
        if ($('input[type="password"][id="password"]').val().length < 4 && $('input[type="password"][id="confirmPassword"]').val().length < 4){
          $("#passwordsMatch").html("<span style='color: red'> <i class='icon times'/>Password is too short. Must be at least 4 characters long.</span>");
          $("#passwordsMatch").css("visibility", "visible");
        } else if ($('input[type="password"][id="password"]').val() !== $('input[type="password"][id="confirmPassword"]').val()){
          $("#passwordsMatch").html("<span style='color: red'> <i class='icon times'/>Passwords do not match.</span>");
          $("#passwordsMatch").css("visibility", "visible");
        } else {
          $("#passwordsMatch").html("<span style='color: green'> <i class='icon check'/>Passwords match.</span>");
          isFilled=true;
          $("#passwordsMatch").css("visibility", "visible");
        }
      } else {
        $("#passwordsMatch").css("visibility", "hidden");
      }

      if (isFilled){
        $('form[id="password"] button').addClass("green");
      } else {
        $('form[id="password"] button').removeClass("green");
      }
    });