extends ../ui_layout

block content
  .computer.only.tablet.only.eight.wide.column
    img.ui.fluid.image(src=process.env.SITE_PICTURE)
  .eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
    .ui.card.fluid(style="padding: 20px; margin-top: 90px;")
      h2.ui.header Sign Up
      form.ui.form(id='signup-form', action='/signup', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .field
          label(for='username') Username
          input(type='text', name='username', id='username', placeholder='Username', autofocus, required)
        .field
          label(for='mturkID') !{process.env.IDENTIFIER}
          input(type='text', name='mturkID', id='mturkID', placeholder=process.env.IDENTIFIER, required)
        .field
          label(for='email') Email (will not be publicly displayed)
          input(type='email', name='email', id='email', placeholder='Email', required)
        .field
          label(for='password') Password
          input(type='password', name='password', id='password', placeholder='Password', minlength="4", required)
        .field
          label(for='confirmPassword') Confirm Password 
          input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', minlength="4", required)
          span(style="color: green; visibility:hidden; display: inline-block;")#passwordsMatch  
            i.icon.check 
            | Passwords Match
        .field
          .ui.checkbox
            input(type='checkbox', name='tos', tabindex="0", id='tos', required)
            label(for='tos')
              | I agree to the 
              a(href='/tos', target="_blank") Terms and Conditions.
        button.ui.large.button(type='submit') Sign Up

block scripts
  script(src='/public/js/profile.js')