if messages.errors
  .sixteen.wide.column
    .ui.negative.message
      i.close.icon
      for error in messages.errors
        div= error.msg
if messages.info
  .sixteen.wide.column
    .ui.warning.message
      i.close.icon
      for info in messages.info
        div= info.msg
if messages.success
  .sixteen.wide.column
    .ui.positive.message
      i.close.icon
      for success in messages.success
        div= success.msg
if messages.final
  .sixteen.wide.column
    .ui.icon.info.message
      i.trophy.icon
      .content
        .header
          | Thank you for participating in our study!
        ul.list
          li The study is now over and your account has been disabled.
          li
            | We will be reaching out to you with a bonus end survey in a few days on Prolific if you have completed all the requirements of the study.