/*CSS for Posts*/

.ui[class*="bottom attached"].buttons .button:first-child {
    border-radius: 0 !important;
}

.ui[class*="bottom attached"].buttons .ui.label {
    border-radius: 0 !important;
}

.ui.comments .comment .text {
    margin: 0.25em 0;
}


/*CSS for adding new post*/

.ui.label>img {
    width: 2.1666em!important;
}


/*CSS for adding new comment on post*/

.extra.content>.ui.fluid.left.labeled.right.icon.input>.ui.form {
    width: 100%;
}

textarea.newcomment {
    border-radius: 0 .28571429rem .28571429rem 0;
}

.extra.content>.ui.fluid.left.labeled.right.icon.input>.ui.label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.extra.content>.ui.fluid.left.labeled.right.icon.input>.ui.label>img {
    margin: 0;
    width: 2em!important;
}

.extra.content>.ui.fluid.left.labeled.right.icon.input>i.big.send.link.icon {
    margin-right: 4px;
}


/*CSS for reporting and blocking modals*/

.modal .ui.form label {
    font-size: medium !important;
}

.modal .ui.form .grouped.fields .field {
    margin-left: 5px !important;
}